.card {
  display: flex;
  align-items: stretch;
  border: none;
  padding: 0;
  width: 600px;
  height: 370px;
  overflow: hidden;
  background-color: rgb(244, 242, 237);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.imageContainer {
  background-color: rgb(234, 231, 221);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image {
  width: 100%;
  height: auto;
  max-width: 240px;
  max-height: 240px;
  object-fit: cover;
}

.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 30px;
  color: #a0522d;
  margin-bottom: 10px;
}

.description {
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
}

.link {
  color: #ffffff;
  background-color: rgb(37, 62, 89);
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  align-self: flex-start;
}

@media (max-width: 768px) {
  .card {
    flex-direction: row;
  }
}

@media (max-width: 1180px) {
  .card {
    width: 97%;
    height: auto;
  }
  .imageContainer {
    padding: 10px;
  }
  .title {
    font-size: 24px;
  }
  .description {
    font-size: 16px;
  }
  .link {
    font-size: 16px;
  }
}