.section {
  height: 500px;
  width: 100%;
  border-radius: 8px;
  background-image: url("../assets/pexels-zch-2791918-12491599.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.582);
  background-blend-mode: darken;
  background-position: center;
  color: #d9d9d9;
}
.outer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.ash-text {
  width: 90%;
  background-color: #eedfe0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.ash-text p {
  color: #000000;
  font-size: 19px;
}
.logo {
  width: 40px;
  height: 40px;
}
.section .text {
  padding: 20px;
  border-radius: 8px;
  width: 700px;
  line-height: 1.5;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.paragraph {
  font-size: 25px;
}
.bracket {
  font-size: 20px;
  color: #af9152;
}

@media screen and (max-width:768px) {
  .section .paragraph{
    font-size: 20px;
  }
}
